<body id="body">
  <!-- Main header image - slider -->
  <%= render partial: 'partials/slider' %>
  <!-- Category section -->
  <%= render partial: 'partials/category' %>
  <!-- Popular products -->
  <%= render partial: 'partials/product' %>
  <!-- Call to Action -->
  <%= render partial: 'partials/call_to_action' %>

</body>
