<!--
Start Call To Action
==================================== -->
<section class="call-to-action bg-gray section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title">
          <h2>Our website isn't ready yet. Stay tunned!</h2>
          <p>Our website is not ready yet, <br> but we can get in touch through WhatsApp or Instagram.</p>
        </div>
        <!-- <div class="col-lg-6 col-md-offset-3">
            <div class="input-group subscription-form">
              <input type="text" class="form-control" placeholder="Enter Your Email Address">
              <span class="input-group-btn">
                <button class="btn btn-main" type="button">Subscribe Now!</button>
              </span>
            </div> --><!-- /input-group -->
        <!-- </div> --><!-- /.col-lg-6 -->

      </div>
    </div>    <!-- End row -->
  </div>    <!-- End container -->
</section>   <!-- End section -->

<section class="section instagram-feed">
  <div class="container">
    <div class="row">
      <div class="title">
        <h2>nucibarbosa</h2>

      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="instagram-slider" id="instafeed" data-accessToken=""></div>
      </div>
    </div>
  </div>
</section>
